/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body, h1, h2, section, div, form, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: 'Oxygen', sans-serif;

  background: transparent;
}

html, body, .app{
  height: 100%;
}

#root{
  display: block;
  height: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 300;

}

h2{
  margin: 0;
}

h3{
  margin: 0;
}

button {
  cursor: pointer;
  background-color: #79bba6;
  color: white;
  border: none;
  font-size: 16px;
  outline: none;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}

button:hover {
  background-color: #dedede;
}

.delete-button{
  background-color: transparent;
  box-shadow: none;
}

.delete-button img{
  width: auto;
  height: 100%;
}

.delete-button:hover{
  background-color: transparent;
}

.trash-can{
  color: #b9b9b9;
}

.trash-can:hover{
  font-size: 60px;
}

.button-link {
  background-color: transparent;
  color: black;
  box-shadow: none;
}

.link-button{
  cursor: pointer;
  background-color: #79bba6;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px;
  box-shadow:  2px 2px #dedede;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);

}

.link-button:hover{
  background-color: #dedede;
}


.button-link:hover{
  background-color: transparent;
}

input {
  border: none;
  border-bottom: .5px solid #4a4a4a;
  padding: 10px;
  -webkit-appearance: none;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.app {

}

.error {
  color: #bb8579;
}

.scroll{
  padding-top: 71px;

}

.scroll-sidebar{
    padding-top: 71px;
    padding-left: 170px;
}
