.graph-input-section{
  display: flex;
  margin: 20px;
}

.graph-input-form-section{
  flex:2;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.graph-input-form-section h3{
  margin: 30px;
  text-align: center;
}

.graph-input-form-section h2{
  margin: 0 30px 60px 30px;
  text-align: ;
}

.graph-input-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #dedede;
  border: 2px solid #bbbbbb;
  box-shadow: 3px 3px #cecece;
  padding-bottom: 10px;
}

select {
  width: 80%;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: menulist;
  font-weight: 200;
  font-size: 18px;
  margin: 20px 0px 20px 0px;
  outline: none;
}
