.graph-index{
  height: 100%;
}

.index-sidebar-container{
  text-align: left;
  height: 100%;
  background-color: whitesmoke;
  position: fixed;
  left: 0;
  top: 71px;
  padding-right: 20px;
  box-shadow: 1px 0 3px rgba(0,0,0,0.15);
  box-sizing: border-box;
  max-width: 205px;
}

.sidebar-head{
  margin-top: 10px;
}

.side-list{
  margin-top: 30px;
  padding-bottom: 10px;
  box-shadow: 0 6px 3px -3px rgba(0,0,0,0.15);
}

.graphs-list li {
  background-color: whitesmoke;
  margin: 10px;
  width: 300px;
  height: 300px;
  padding: 7px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.graphs-list .graph-link{
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.graphs-list li h3{
  width: 100%;
}

.graphs-list h3:hover, .graphs-list h4:hover{
  font-size: 20px;
}

.graph-link i:hover{
  font-size: 90px;
}

.graphs-list{
  width: 100%;
  display: flex;
  justify-content: space-around;;
  flex-wrap: wrap;
}
.graphs-list li:hover{
  background-color: #dedede;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

#shared-by:hover{
  font-size: 16px;
}

#shared-by{
  color: #b9b9b9;
}

#graph-list-header ul{
  display: flex;
  justify-content: space-around;
}

#graph-list-header{
  background-color: whitesmoke;
}

.bar{
  color: #f18e43;
}

.line {
  color: #3ba8f9;
}

.area {
  color: #a679bb;
}

.pie {
  color: #e25280;
}

#donut {
  color: #e25280;
}

.graph-li .delete-button{
  margin-bottom: 20px;
}

.fa-share{
  color: #b9b9b9;
  padding-right: 10px;
}

.fa-share:hover{
  font-size: 55px;
}

.item-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
