.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #acd5c8;
  padding: 20px;
  position: fixed;
  width: 100%;
}

.main-nav a {
  padding: 0px 20px 0px 20px;
}

.main-nav ul{
  margin-right: 50px;
}


.main-nav img {
  height: 30px;
  width: auto;
}
