.preview{
  border: 2px dotted #bbbbbb;
  height: 600px;
}

.preview-container{
  flex: 5;
  margin: 20px;
}


.type-opts{
  text-align: center;
}


.title-input{
  font-size: 18px;
  margin-bottom: 20px;
}

.preview-container button{
  margin: 15px;
}

.preview-header{
  display: flex;
  justify-content: space-between;
}
