.preview{
  border: 2px dotted #bbbbbb;
  height: 600px;
}

.preview-with-run{
  display: flex;
  align-items: center;
  justify-content: flex-start;;
  flex: 5;
}

.preview-container{
  margin: 20px 20px 20px 5px;
  width: 100%;
}


.type-opts{
  text-align: center;
}


.title-input{
  font-size: 18px;
  margin-bottom: 20px;
}

.preview-container button{
  margin: 15px;
}

.preview-header{
  display: flex;
  justify-content: space-between;
}
