.share{
display: flex;
flex-direction: column;
align-items: center;
}


.share h1{
  margin: 30px;
}

#results{
  width: 70%;
  min-height: 100px;
  height: auto;
  border: 1px solid #dedede;
  margin: 30px;
  text-align: center;
}

#results ul{

}

.share li, .share input{
  font-size: 20px;
}

.share li:hover{
  background-color: #dedede;
}
