.default-index{
  position: relative;
  z-index: -10;
  top: 200px;
}

.table-li {
  background-color: whitesmoke;
  margin: 10px 0px 10px 0px;
  width: 80%;
  padding: 7px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.table-li a{
  display: flex;
  align-items: center;
}

.table-li h4{
  margin-left: 10px;
}

.table-li span{
  margin-left: 40px;
}

.tables-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tables-list li:hover{
  background-color: #dedede;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}


.table-list-header ul{
  display: flex;
  justify-content: space-around;
}

#table-list-header{
  background-color: transparent;
  margin-top: 20px;
}

.list-items{
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  padding-left: 15px;
}

#del{
  padding-right: 70px;
}

#cols{
  padding-right: 150px;
}

.table-li a{
  display: flex;
  height: 100%;
  width: 85%;

}

.item-title{
  width: 30%;
}

.table-li a:hover{
  font-weight:bolder;
  font-size: 18px;
}

.cols{
  display: flex;
  font-size: 14px;
}

.tables-section{
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;*/
  height: 100%;
}

.jsonHeader {
  background-color: #79bba6;
  font-weight: bold;
  color: white;
}

.jsonTable {
  font-size: 14px;
  margin: 5px;
}

table {
    /*display: block;*/
    border-spacing: 2px;
    border-color: grey;
    padding: 5px;
    min-width: 100%;
}

.table-div{
  max-width: 90%;
  min-width: 60%;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

td {
  text-align: center;
  padding: 5px;
}

.table-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*max-width: 1000px;*/
  /*flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 9;*/
}

tbody tr:nth-child(odd){
  background-color: #dedede;
}


.tables-list-section{
  text-align: left;
  flex: 1;
  height: 100%;
  background-color: whitesmoke;
  position: fixed;
  left: 0;
  top: 71px;
  padding-right: 20px;
  box-shadow: 1px 0 3px rgba(0,0,0,0.15);
  z-index: 5;
  box-sizing: border-box;
  max-width: 205px;
}

.index-sidebar{
  padding-left: 10px;
  /*border-right: 1px solid rgba(0,0,0,.25);*/
}

.index-sidebar h2{
  margin-bottom: 30px;
}
.index-sidebar h3{
  /*margin-top: 50px;*/
  margin-bottom: 15px;
}

.index-sidebar ul{
  padding-left: 10px;
}

.index-sidebar li{
  padding-bottom: 10px;
}

.index-sidebar ul li:hover{
  font-size: 18px;
}

.index-sidebar h3:hover{
  font-size: 20px;
}

.detail-sidebar nav *:hover{
  font-size: 18px;
}

.table-detail .top{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  top: 71px;
  left: 165px;
  background: white;
  height: 40px;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
  box-shadow: 1px 0 3px rgba(0,0,0,0.15);
  z-index: 3;
}

.bottom button{
  width: 35px;
}

.invisible{
  color: whitesmoke;
}

.table-detail nav a{
  padding: 0px;
  font-size: 20px;
}

.detail-sidebar nav {
  display: flex;
  flex-direction: column;
}

.detail-sidebar .delete-button{
  color: black;
  width: 100%;
  text-align: left;
}

.detail-sidebar a{
  padding: 6px;
}

.detail-sidebar i{
  padding: 5px;
  color: black;
}

.detail-sidebar h3{
  padding: 20px;
}
